<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets filter='cssrewrite'
            "@pure_css"
            %}
            <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen"/>
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}

        {% endblock %}
        {% block javascripts %}
            {% javascripts
            '@jquery_js' %}
            <script src='{{ asset_url }}' type='text/javascript'></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
