{% extends "Group3ABundle:page-bases:aircrew.html.twig" %}
{% form_theme form 'Group3ABundle:forms:fields.html.twig' %}
{% block content %}
    {% if active == 0 %}
        <h1 class="create-header">Create a New Aircrew</h1>
    {% else %}
        <h1 class="create-header">Editing Aircrew {{aircrew.id}}</h1>
    {% endif %}
    {{ form(form, { 'attr': {'class': 'pure-form pure-form-aligned'}}) }}
{% endblock %}